    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for blog
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName blog.localhost
      DocumentRoot "/home/stephen/www/myblog/web"
      DirectoryIndex index.php
      <Directory "/home/stephen/www/myblog/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/usr/share/php/data/web/sf"
      <Directory "/usr/share/php/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
